<div>
    <pre>
    1） 对主流行业进行分类
    a) 计算机、互联网、通信、电子
    b) 销售、客服
    c) 会计、金融、银行、保险
    d) 生产/营运、采购、物流
    e) 建筑、房地产
    f) 设计、市场、媒体、广告
    g) 人事、行政、高级管理
    h) 教育、培训
    i) 生物、制药、化工、医疗
    j) 咨询、法律、科研
    k) 服务业

    2） 对每个主流行业，进行职能分类
    a)
    1） 前端开发 (1,1,3) 223页
    2） 后端开发 (1,1,1) 1149页
    3） 移动开发 (1,1,2) 118页
    4） 游戏 (1,2,2) 173页
    5） 测试 (1,2,3) 294页
    6） 运维/技术支持 (1,3,1) 675页
    7） 运营 (1,4,1) 1213页
    8） 产品 (1,3,3) 487页
    9） 半导体/芯片 (1,5,1) 258页
    10） 电子/电器/仪器仪表 (1,5,2) 866页
    11） 通信技术开发及应用 (1,5,3) 106 页

    b)
    1） 销售管理 (2,1,1) 1951页
    2） 销售人员 (2,1,2) >2000页
    3） 客服及支持 (2,2,1) 1573 页

    c)
    1） 财务/审计/税务 (3,1,1) 1389页
    2） 金融/证券/期货/投资 (3,1,2) 484页
    3） 银行 (3,1,3) 228页
    4） 保险 (3,2,1) 196页

    d)
    1） 生产/营运 (4,1,1) 616页
    2） 质量安全 (4,1,2) 710页
    3） 工程/机械/能源 (4,1.3) 1227页
    4） 印刷包装 (4.2.2) 33页
    5） 汽车制造 (4,3,1) 53页
    6） 服装/纺织/皮革 (4,4,1) 293页
    7） 物流/仓储 (4,4.2) 1199页
    8） 采购 (4,4,3) 574页
    9） 贸易 (4,5,1) 715页

    e)
    1） 建筑规划与设计 (5,1,1) 406页
    2） 建筑工程与装潢 (5,1,2) 916页
    3） 房地产开发 (5,1,3) 150页
    4） 房地产销售中介 (5,2,1) 802页
    5） 物业管理 (5,2,2) 509页

    f)
    1） 视觉/交互设计 (6,1,1) 670页
    2） 工业/艺术设计 (6,1,2) 259页
    3） 市场/营销 (6,1.3) 1082页
    4） 广告 (6,2,1) 417页
    5） 公关/媒介 (6,2,2) 244页
    6） 影视/媒体 (6,2,3) 321页
    7） 编辑出版 (6,3,1) 115页

    g)
    1） 人力资源 (7,1,1) 1485页
    2） 行政/后勤 (7,1,2) 1276页
    3） 高级管理 (7,1,3) 330页

    h)
    1） 教师 (8,1,1) 497页
    幼教：86 小学：88 初中：124 高中：125 大学教授：3
    家教：16
    其他(音乐老师，在线辅导老师等等)：55
    2） 教育咨询 (8,1,2) 272页
    3） 教育管理 (8,1,3) 115页
    4） 培训 (8,2,1) 153页

    i)
    1） 生物/制药/医疗机械 (9,1,1) 932页
    2） 化工 (9,1,2) 216页
    3） 医院/医疗/护理 (9,1,3) 256页


    j)
    1） 咨询/顾问 (10,1,1) 336页
    2） 律师/法务/合规 (10,1,2) 270页
    3） 科研 (10,1,3) 77页

    k)
    1） 餐饮服务 (11,1,1) 555页
    2） 酒店旅游 (11,1,2) 125页
    3） 美容保健 (11,1,3) 115页
    4） 百货零售 (11,2,1) 622页
    5） 交通运输服务 (11,2,2) 335页
    6） 家政保洁 (11,2,3) 63页
    7） 运动健身 (11,3,1) 40页
    8） 休闲娱乐 (11,3,2) 76页
    </pre>
</div>